* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #fff;
}


.container {
    width: 100%;
    height: 80px;
    background-color: rgb(87, 192, 241);
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-item {
    margin: 10px 20px;
}

.title-block {
    background: #000;
    height: 100%;
    width: 30%;
    margin-top: -15px;
    text-align: center;
    border-radius: 3rem;
}

#navTitle {
    font-size: 3rem;
    padding-top: 0.7rem;
    color: rgb(81, 211, 243);
}

.leader-link {
    text-decoration: none;
    color: #000;
}

.main {
    /* height: 75vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

.welcome-container {
    /* height: 30vh; */
    width: 70%;
    background: rgba(87, 192, 241, 0.39);
    text-align: center;
    padding: 20px 20px;
    border-radius: 1rem;
    margin: 20px 20px;
}

.welcome-container > p {
    margin: 5px 0;
    line-height: 1.6rem;

}

#start {
    font-size: 0.7rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem 2rem;
    margin: 15px 10px;
    background: rgb(236, 144, 39);
    border: 0.3em solid rgb(81, 211, 243);
    border-radius: 3rem;
}

#start:hover {
    background: rgba(81, 211, 243, 0.699);
    color: #fff;
}

.questions-container {
    /* height: 30vh; */
    width: 70%;
    background: rgba(87, 192, 241, 0.39);
    text-align: center;
    padding: 20px 20px;
    border-radius: 1rem;
}

.questions-container > ul {
    list-style: none;
    padding-left: 0;
}

.questions-container > ul > li {
    background-color:rgba(87, 192, 241, 0.61);
    padding: 10px 10px;
    margin: 10px 0px;
    border-radius: 2px solid rgba(87, 192, 241, 0.89);
}

.questions-container > ul > li:hover {
    background-color:rgba(87, 192, 241, 0.199);
    border-radius: 2px solid rgba(87, 192, 241, 0.89);
}

.choice-lbl {
    padding: 10px 10px;
    margin-right: 5px;
    font-size: 1.2rem;
}

.form-container {
  /* height: 30vh; */
  width: 70%;
  background: rgba(87, 192, 241, 0.39);
  text-align: center;
  padding: 20px 20px;
  border-radius: 1rem;
  margin: 20px 20px;
}

.form-container > input {
    height: 2rem;
    width: 25%;
}

#submit {
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem 2rem;
  margin: 15px 10px;
  background: rgb(236, 144, 39);
  border: 0.3em solid rgb(81, 211, 243);
  border-radius: 3rem;
}

#submit:hover {
  background: rgba(81, 211, 243, 0.699);
  color: #fff;
}





.hide {
    display: none;
}

.footer {
    height: 60px;
    background-color: rgb(87, 192, 241);
    text-align: center;
    margin-top: 30px;
}

.footer-container {
    text-align: center;
    padding-top: 10px;
}